body{
  font-family: Arial, Helvetica, sans-serif;
}

section{
  margin: 1rem;
}

/* Contenitore delle colonne */
.row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* Resettiamo gli stili iniziali di tutte le colonne */

[class*="col-"]{
  /* SOLO per visualizzare le colonne vuote. 
  Stili da eliminare in produzione*/
  border: 1px solid white;
  min-height: 60px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col > .row, 
[class*="col-"] > .row{
  padding: 1rem;
}

.col > .row > .col,
[class*="col-"] > .row > [class*="col-"]{
  padding: 1rem;
}

.col-blue{
  background-color: #006cfa;
}

.col-green{
    background-color: #00e165;
}
